.pagination__container{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.pagination{
    padding: 1rem 0;
    text-align: center;
}
.pagination li span{
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    font-weight: bold;
}