@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
}

.app__imagesContainer{
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
  margin-top: -2.8rem;
  background-color: #fff;
  padding: 2rem;
}

.app__imagesCollections span{
  font-size: 1.6rem;
  cursor: pointer;
  margin: 0rem 1.2rem;
}

.app__imagesCollections span:hover{
  border-bottom: 4px solid lightgrey;
}